:root {
  --clr-blackish: #231f1e;
}

body,
html {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--clr-blackish);
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.logoContainer {
  max-width: 20rem;
}

.menuRow {
  display: flex;
  padding: 5rem;
  gap: 5rem;
}

.row1 {
  padding-bottom: 0;
}

.menuItem {
  width: 50%;
  /* box-shadow: 3.5rem 3.5rem 0 3px black; */
  box-shadow: 1px 1px 0 3px black, 2px 2px 0 3px black, 3px 3px 0 3px black, 4px 4px 0 3px black, 5px 5px 0 3px black,6px 6px 0 3px black,7px 7px 0 3px black,  8px 8px 0 3px black, 9px 9px 0 3px black,  10px 10px 0 3px black, 11px 11px 0 3px black, 12px 12px 0 3px black, 13px 13px 0 3px black, 14px 14px 0 3px black, 15px 15px 0 3px black,16px 16px 0 3px black,17px 17px 0 3px black,  18px 18px 0 3px black, 19px 19px 0 3px black,  20px 20px 0 3px black, 21px 21px 0 3px black, 22px 22px 0 3px black, 23px 23px 0 3px black, 24px 24px 0 3px black, 25px 25px 0 3px black,26px 26px 0 3px black,27px 27px 0 3px black,  28px 28px 0 3px black, 29px 29px 0 3px black,  30px 30px 0 3px black,31px 31px 0 3px black, 32px 32px 0 3px black, 33px 33px 0 3px black, 34px 34px 0 3px black, 35px 35px 0 3px black,36px 36px 0 3px black,37px 37px 0 3px black,  38px 38px 0 3px black, 39px 39px 0 3px black,  40px 40px 0 3px black;
  background-color: white;
}

.image {
  width: 100%;
}

@media only screen and (max-width: 60rem) {
  .menuRow {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  .row1 {
    padding-bottom: 1;
  }

  .menuItem {
    width: 100%;
    box-shadow: 2rem 2rem 0 3px black;
  }

  .logoContainer {
    max-width: 12rem;
  }
}
